{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

{% if userRole == -1 %}
<div class="container">
  <div id="login-page" class="row">
    <div class="col s6 offset-s3 z-depth-5 card-panel">

      <form action= "{{url_for('login_api')}}"  method="POST" id="login_unq">
        <div class="row"></div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">mail_outline</i>
            <input id="user_name" type="text" name="username" required="required">
            <label for="user_name">User Name</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <input id="user_password" name="password" type="password" required="required">
            <label for="user_password">Password</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <!--<a href="#" type="submit" class="btn waves-effect waves-light col s12">Login</a>-->
            <button class="btn waves-effect waves-light col s12 white-text" type="submit">LOGIN</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endif %}
  <div class="container left row">
    <form id="theme_unq">
      <p>
        <label>
          <input name="thecolor" type="radio" value="0" formaction="{{url_for('home_page')}}?thecolor=0"/>
          <span>White</span>
        </label>
      </p>
      <p>
        <label>
          <input name="thecolor" type="radio" value="1" formaction="{{url_for('home_page')}}?thecolor=1"/>
          <span>Dark</span>
        </label>
      </p>
      <p>
      <label>
        <input name="thecolor" type="radio" value="2" formaction="{{url_for('home_page')}}?thecolor=2"/>
        <span>Blue</span>
      </label>
    </p>
    <button class="waves-effect waves-light btn green lighten-2 centered" type="submit" name="submit"  value="update"><i class="material-icons">save</i></button>
  </form>
</div>
{% endblock %}