{% extends "layout.html" %}
{% block title %}Add a new Employee{% endblock %}
{% block content %}

<!-- Header -->
<nav>
  <div class="nav-wrapper blue lighten-3 ">
    <div class="container">
      <ul id="nav-mobile" class="left">
        <li><a href="{{url_for('sell_page')}}">Sell</a></li>
        <li><a href="3.html">Reports</a></li>
      </ul>

      <a href="{{url_for('home_page')}}" class="brand-logo center">Eczanem(Root)</a>
      
      <ul id="nav-mobile" class="right">
        <li><a href="{{url_for('employee_page')}}">Employee</a></li>
        <li><a href="{{url_for('logout_page')}}">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Create a new employee container -->
<h4 class="center blue-text text-lighten-2">Create a new employee account</h4>
<div class="container">
    <div class="row">
      <form class="col s10" action= "{{url_for('register_api')}}"  method="POST" id="register_unq">
        <div class="row ">
          <div class="input-field col s5 offset-s3">
            <input id="employee_name" type="text" name="employeename" required="required">
            <label for="employee_name">Employee Name</label>
          </div>
          <div class="input-field col s5 offset-s3">
            <input id="employee_password" type="password" name="employeepassword" required="required">
            <label for="employee_password">Employee Password</label>
          </div>
          <div class="input-field col s1 ">
            <button class="btn waves-effect waves-light" type="submit">Create</button>
        </div>
      </form>
    </div>
</div>
{% endblock %}