{% extends "layout.html" %}
{% block title %}Add a new Employee{% endblock %}
{% block content %}

<!-- Create a new employee container -->
<h4 class="center blue-text text-lighten-2">Create a new employee account</h4>
<div class="container">
    <div class="row">
      <form class="col s10" action= "{{url_for('register_api')}}"  method="POST" id="register_unq">
        <div class="row ">
          <div class="input-field col s5 offset-s3">
            <input id="employee_name" type="text" name="employeename" required="required">
            <label for="employee_name">Employee Name</label>
          </div>
          <div class="input-field col s5 offset-s3">
            <input id="employee_password" type="password" name="employeepassword" required="required">
            <label for="employee_password">Employee Password</label>
          </div>
          <div class="input-field col s1 ">
            <button class="btn waves-effect waves-light" type="submit">Create</button>
        </div>
      </form>
    </div>
</div>
{% endblock %}