{% extends "layout.html" %}
{% block title %}Patient Details{% endblock %}
{% block content %}

<table class="highlight centered">
    <thead>
      <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Phone No</th>
          <th>ID Number</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
      </tr>
      <tr>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>$3.76</td>
      </tr>
      <tr>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>$7.00</td>
      </tr>
    </tbody>
  </table>


{% endblock %}