{% extends "layout.html" %}
{% block title %}Patient Details{% endblock %}
{% block content %}
<!--TODO label'lar id, post name kullanıyor. Ayarla-->
<div class="container row">
    <form action="{{url_for('crud_patient')}}"  method="POST" class="input-field col s5 offset-s3" id="updpat_unq">

        {% if patient %}
        <div class="input-field col s5 offset-s3">
            <i class="material-icons prefix ">assignment_ind</i>
            <input type="text" name="name" value="{{patient[0][0]}}">
            <label for="name">Customer Name</label>
        </div>
        
        <div class="input-field col s5 offset-s3">
            <i class="material-icons prefix ">assignment_ind</i>
            <input type="text" name="surname" value="{{patient[0][1]}}">
            <label for="surname">Customer Surame</label>
        </div>
        
        <div class="input-field col s5 offset-s3">
            <i class="material-icons prefix ">contact_phone</i>
            <input type="text" name="phone" value="{{patient[0][2]}}" data-length="14">
            <label for="phone">Phone Number</label>
        </div>

        <div class="input-field col s5 offset-s3">
            <i class="material-icons prefix ">contact_phone</i>
            <input type="text" name="citizenship" value="{{patient[0][3]}}">
            <label for="citizenship">Citizenship Number</label>
        </div>
        {% else %}

        <div class="input-field col s5 offset-s3">
            <i class="material-icons prefix ">assignment_ind</i>
            <input type="text" name="name" required="required">
            <label for="name">Customer Name</label>
        </div>
        
        <div class="input-field col s5 offset-s3">
            <i class="material-icons prefix ">assignment_ind</i>
            <input type="text" name="surname" required="required">
            <label for="surname">Surname</label>
        </div>
        
        <div class="input-field col s5 offset-s3">
            <i class="material-icons prefix ">contact_phone</i>
            <input type="text" name="phone"  data-length="14">
            <label for="phone">Phone Number</label>
        </div>

        <div class="input-field col s5 offset-s3">
            <i class="material-icons prefix ">perm_identity</i>
            <input type="text" name="citizenship"  required="required">
            <label for="citizenship">Citizenship Number</label>
        </div>
        {% endif %}
        <div class="container col s5 offset-s3">
            <button class="waves-effect waves-light btn green lighten-2 centered" type="submit" name="submit"  value="update"><i class="material-icons left">add</i>Add/Update</button>
         </div>
    </form>

    <form action="{{url_for('crud_patient')}}"  method="POST" class="input-field col s5 offset-s3" id="rmpat_unq">
        {% if patient %}
        <div class="input-field col s5 offset-s3">
            <i class="material-icons prefix ">perm_identity</i>
            <input type="text" name="citizenship"  required="required" value="{{patient[0][3]}}">
            <label for="citizenship">Citizenship Number</label>
        </div>
        {% else %}
        <div class="input-field col s5 offset-s3">
            <i class="material-icons prefix ">perm_identity</i>
            <input type="text" name="citizenship"  required="required">
            <label for="citizenship">Citizenship Number</label>
        </div>
        {% endif %}
        <div class="container col s5 offset-s3">
            <button class="waves-effect waves-light btn red lighten-2 centered" type="submit" name="submit"  value="remove"><i class="material-icons left">remove</i>Remove</button>
        </div>
    </form>
</div>
{% endblock %}