{% extends "layout.html" %}
{% block title %}My Account{% endblock %}
{% block content %}
<div class="row">
    <div class="col s8 offset-s2 light-blue lighten-5">
        <table class="highlight centered">
            <h4 class="center">My Profile</h4>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Created At</th>
                    <th>Last Login</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{profileData[0][0]}}</td>
                    <td>{{profileData[0][1]}}</td>
                    <td>{{profileData[0][2]}}</td>
                    <td>{{profileData[0][3]}}</td>
                    <td>{{profileData[0][4]}}</td>
                </tr>
            </tbody>
        </table>
        {% if userRole != 1 %}
        <div class="col s10 offset-s2 input-field">
            <form action="{{url_for('delete_account')}}" id="profile_unq">
                <button class="waves-effect waves-light btn right red lighten-2" type="submit"><i class="material-icons left">delete</i>Delete Account</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}