{% extends "layout.html" %}
{% block title %}Patient Details{% endblock %}
{% block content %}
<div class="row">
    
    <div class="col s8 offset-s2 light-blue lighten-5">
        <h2 class="center">Reports</h4>
        <table class="highlight centered">
            <h5 class="center grey-text">Sale statistics by user</h4>
            <thead>
                <tr>
                    <th>User</th>
                    <th>Total Sales(₺)</th>
                    <th>Total Sales(#)</th>
                </tr>
            </thead>
            <tbody>
                {% for i in byUser %}
                {% set user = byUser[loop.index - 1][0] %}
                {% set totalPrice = byUser[loop.index - 1][1] %}
                {% set totalCount = byUser[loop.index - 1][2] %}
                <tr>
                    <td>{{user}}</td>
                    <td>{{totalPrice}}</td>
                    <td>{{totalCount}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col s8 offset-s2 light-blue lighten-5">
        <table class="highlight centered">
            <h5 class="center grey-text">Sale statistics by payment methods</h4>
            <thead>
                <tr>
                    <th>Method</th>
                    <th>Total Sales(₺)</th>
                    <th>Total Sales(#)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Cash</td>
                    <td>{{byMethod[1][1]}}</td>
                    <td>{{byMethod[1][2]}}</td>
                </tr>
                <tr>
                    <td>Credit</td>
                    <td>{{byMethod[0][1]}}</td>
                    <td>{{byMethod[0][2]}}</td>
                </tr>  
            </tbody>
        </table>
    </div>

    <div class="col s8 offset-s2 light-blue lighten-5">
        <table class="highlight centered">
            <h5 class="center grey-text">Sale statistics by patients</h4>
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Total Sales(₺)</th>
                    <th>Total Sales(#)</th>
                </tr>
            </thead>
            <tbody>
                {% for i in byPatient %}
                {% set fullName = byPatient[loop.index - 1][0] %}
                {% set totalPrice = byPatient[loop.index - 1][1] %}
                {% set totalCount = byPatient[loop.index - 1][2] %}
                <tr>
                    <td>{{fullName}}</td>
                    <td>{{totalPrice}}</td>
                    <td>{{totalCount}}</td>
                </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
</div>
{% endblock %}