{% extends "layout.html" %}
{% block title %}Sale Details{% endblock %}
{% block content %}

<div class="row">
    <div class="col s8 offset-s2 light-blue lighten-5">
        <table class="highlight centered">
            <h4 class="center">Sales</h4>
            <h6 class="center grey-text">Cash = 1, Credit Card= 2</h6>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Basket ID</th>
                    <th>Patient ID</th>
                    <th>Payment Method</th>
                    <th>Price</th>
                    <th>Employee ID</th>
                </tr>
            </thead>
            <tbody>
                {% for i in saleList %}
                {% set saleID = saleList[loop.index - 1][0] %}
                {% set basketID = saleList[loop.index - 1][1] %}
                {% set patientID = saleList[loop.index - 1][2] %}
                {% set methodID = saleList[loop.index - 1][3] %}
                {% set price = saleList[loop.index - 1][4] %}
                {% set userID = saleList[loop.index - 1][5] %}
                <tr>
                    <td>{{saleID}}</td>
                    <td>{{basketID}}</td>
                    <td>{{patientID}}</td>
                    <td>{{methodID}}</td>
                    <td>{{price}}</td>
                    <td>{{userID}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}