{% extends "layout.html" %}
{% block title %}Sell{% endblock %}
{% block content %}

<div style="height: 150px;"></div>
<!-- Sell Container -->
<div class="container">
    <div class="row">
      <form class="col s10" action="{{url_for('addmed_api')}}" method="POST" id="addmed_unq">
        <div class="row ">
          <div class="input-field col s5 offset-s3">
            <i class="material-icons prefix ">search</i>
            <input type="text" name="thebarcode" id="med_barcode">
            <label for="med_barcode">Barcode</label>
          </div>
          <div class="input-field col s2">
            <button class="btn waves-effect waves-light" type="submit" action="/add_medicine" name="submit" value="send_barcode">Add</button>
          </div>
          <div class="input-field col s5 offset-s3">
            <i class="material-icons prefix ">assignment_ind</i>
            <input type="text" name="thecustomer" id="customer_citizenship" class="autocomplete">
            <label for="customer_citizenship">Citizenship Number</label>
          </div>
          <div class="input-field col s2 ">
            <p>
                <label>
                  <input id="indeterminate-checkbox secondary-content" type="checkbox" name="isCredit"/>
                  <span>Credit Card</span>
                </label>
            </p>
            <button class="btn waves-effect waves-light blue" type="submit" name="submit" value="send_basket">Send</button>
            <button class="btn waves-effect waves-light red" type="submit" name="submit" value="cancel_basket">Cancel</button>
            <div class="input-field col s9">
              <input disabled id="icon_prefix"  type="text">
              <label for="icon_prefix">{{totalPrice}}₺</label>
            </div>
          </div>
          <div>
              <ul class="collection col s5 offset-s3 z-depth-1">
                {% for i in medList %}
                    {% set name = medList[loop.index - 1][0] %}
                    {% set description = medList[loop.index - 1][2] %}
                    {% set amount = medList[loop.index - 1][3] %}
                    {% set basket_entry_id = medList[loop.index - 1][4] %}
                  <li class="collection-item">
                      <div>
                          <a href="/updateAmount?basket_entry_id={{basket_entry_id}}&amount=0" class="secondary-content">
                              <i class="material-icons">clear</i>
                            </a>
                            <a href="/updateAmount?basket_entry_id={{basket_entry_id}}&amount=1" class="secondary-content">
                                <i class="material-icons">chevron_right</i>
                            </a> 
                            {{name}}
                            <div class="right">{{amount}}</div>
                            <a href="/updateAmount?basket_entry_id={{basket_entry_id}}&amount=-1" class="secondary-content">
                                <i class="material-icons">chevron_left</i>
                            </a>
                            <a href="#!" class="secondary-content">
                                <i class="material-icons tooltipped" data-position="right" data-tooltip="{{description}}">info_outline</i>
                            </a>
                        </div>
                    </li>
                {% endfor %}
              </ul>
            </div>
        </div>
      </form>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#customer_citizenship').autocomplete({
       data: {{citizenshipJSON|safe}},
    });
  });

</script>

{% endblock %}


